@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<h2 style="text-align: center;">Restablecer Contraseña</h2>
<br/>
<hr />
<div class="row">
    <div class="col-md-6 offset-3">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Input.Code" type="hidden" />
            <input asp-for="Input.Email" type="hidden" />
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary form-control">Reset</button>
            </div>
            &nbsp;
            <div class="col">
                <a asp-area="Admin" asp-controller="Usuarios" asp-action="Index" class="btn btn-success form-control">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
