@{
    ViewData["Title"] = "ERROR";
}

<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos, título y estilos aquí... -->
</head>

<body>
    <div class="maintenance-icon">&#x1F6A7;</div>
    <div class="message">ERROR</div>
    <div class="contact-info">
        Error en la operación. <br>
        Por favor contáctanos a <a href="mailto:representacion.institucional@funsar.org.co">representacion.institucional@funsar.org.co</a>.
    </div>
</body>

</html>