@model FUNSAR.Models.ViewModels.VoluntarioVM
@using FUNSAR.HerramientasComunes
@{
    ViewData["Title"] = "Registro de Voluntarios";
}
@try
{
    <br />
    <br />
    <h3 class="text-center">Registro Participante</h3>
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="row px-2 offset-1 border">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p class="text-danger">@ViewBag.msg</p>
            <div class="col-10 offset-1 mt-4">
                <div class="form-group row">
                    <div class="col-6">
                        <label class="col-4">
                            <label asp-for="Voluntario.Nombre"></label>
                        </label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Voluntario.Nombre" class="form-control" placeholder="Ingresa el nombre" />
                        <span asp-validation-for="Voluntario.Nombre" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mt-4">
                    <div class="col-6">
                        <label class="col-4">
                            <label asp-for="Voluntario.Apellido"></label>
                        </label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Voluntario.Apellido" class="form-control" placeholder="Ingresa el apellido" />
                        <span asp-validation-for="Voluntario.Apellido" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mt-4">
                    <div class="col-6">
                        <label class="col-4">
                            <label for="TDocumento">Tipo Documento</label>
                        </label>
                    </div>
                    <div class="col-6">
                        @Html.DropDownListFor(m => m.Voluntario.DocumentoId, Model.ListaTipoDocumento, "-Tipo Documento-",
                    new {@class = "form-control"})
                    </div>
                </div>

                <div class="form-group row mt-4">
                    <div class="col-6">
                        <label class="col-4">
                            <label asp-for="Voluntario.Documento"></label>
                        </label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Voluntario.Documento" class="form-control" placeholder="Ingresa el documento" />
                        <span asp-validation-for="Voluntario.Documento" class="text-danger"></span>
                    </div>
                </div>

               @* <div class="form-group row mt-4">
                    <div class="col-6">
                        <label class="col-4">
                            <label for="Colegio">Colegio</label>
                        </label>
                    </div>
                    <div class="col-6">
                        @Html.DropDownListFor(m => m.Voluntario.ColegioId, Model.ListaColegio, "-Seleccione Colegio-",
                    new {@class = "form-control"})
                    </div>
                </div>*@

                <div class="form-group row mt-4">
                    <div class="col-6">
                        <label class="col-4">
                            <label asp-for="Voluntario.correo"></label>
                        </label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Voluntario.correo" class="form-control" placeholder="Ingresa el correo personal" />
                        <span asp-validation-for="Voluntario.correo" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mt-4">
                    <div class="col-6">
                        <label class="col-4">
                            <label asp-for="Voluntario.telefono"></label>
                        </label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Voluntario.telefono" class="form-control" placeholder="Ingresa el numero de contacto" />
                        <span asp-validation-for="Voluntario.telefono" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mt-4 m-lg-4">
                    <div class="col">
                        <button type="submit" class="btn btn-primary form-control">Registrar</button>
                    </div>
                    &nbsp;
                    <div class="col">
                        <a asp-action="Registro" class="btn btn-success form-control">Volver</a>
                    </div>
                </div>

            </div>
        </div>
    </form>

}
catch (Exception ex)
{
    Log log = new Log();
    await log.escribirLog("ERROR", ex.ToString(), "RegistroParticimante.cshtml");
}
